body {
  background-color: #1b1b1b;
  color: white;
  margin: 0 20px 0 20px;
}

a {
  color: #77b6df;
  text-decoration: none;
}

a:hover {
  color: #4990be;
  text-decoration: none;
}

.social {
  text-align: center;
  margin: 2em 0 2em 0;
}

.center {
  text-align: center;
}
